.App {

  min-height:100vh;
  background-color: rgb(244, 207, 207);
  padding: 50px;
}

.home-content{
 width: 100%;
 display: flex;
 justify-content: center;
}

.home-img{
  width: 40vw;
  opacity: 0.9;
}

@media (max-width:700px){
  .home-img{
   
    width:90vw ;
    opacity: 0.9;
    margin-top: 100px;
  }
}
